@import "./keyframe-animations.css";
@import "./font-face.css";

body {
  margin: 0;
  font-family: var(--font-family-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: var(--fw-light);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p:not(:first-child) {
  margin-top: 1.5em;
}

a {
  color: var(--color-black);
}

* {
  padding: 0;
  margin: 0;
}

.webgl {
  position: fixed;
  z-index: var(--z-behind);

  /* z-index: 10; */
  top: 0;
  left: 0;
  background: radial-gradient(#000, #111);
  outline: none;
}
