@import "./fontface.css";
@import "./keyframe-animations.css";

body {
  margin: 0;
  cursor: none;
  font-family: var(--font-family-base);
  font-kerning: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: var(--fw-light);
  -webkit-text-rendering: optimizespeed;
  text-rendering: optimizespeed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  margin-top: 1.5em;
}

a {
  color: var(--color-black);
}

* {
  padding: 0;
  margin: 0;
}

.webgl {
  position: fixed;
  z-index: var(--z-behind);

  /* z-index: 10; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(#000, #111);
  outline: none;
}
