@keyframes downWipe {
  0% {
    height: 0;
  }

  50% {
    height: 100%;
  }

  70% {
    height: 100%;
    transform: scaleY(0.5);
    transform-origin: bottom;
  }

  100% {
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom;
  }
}


