.root {
  position: absolute;
  top: 15vh;
  left: 30%;
  overflow: hidden;
  width: 70%;
  opacity: 1;
  pointer-events: none;
}

.clipped,
.outlined {
  @mixin display-1;

  transform: scale(1);
  transform-origin: top left;
  transition: transform 0.7s var(--expo-ease-in-out) 0.3s;
}

.clipped {
  position: absolute;
  top: 0;
  left: 0;
  clip-path: ellipse(100% 0% at 50% 50%);
  color: var(--color-white);
}

.outlined {
  @mixin text-outline-white 0.2;
}

.open {
  .clipped,
  .outlined {
    transform: scale(0.5);
    transition: transform 0.3s var(--expo-ease-in-out) 0s;
  }

  .outlined {
    @mixin text-outline-white 0.5;
  }
}
