.root {
  @mixin display-1;

  position: absolute;
  top: 15vh;
  left: 30%;
  overflow: hidden;
  width: 70%;
  line-height: 1.1;
  opacity: 1;
  pointer-events: none;
}

.clipped {
  position: absolute;
  top: 0;
  left: 0;
  clip-path: ellipse(100% 0% at 50% 50%);
  color: var(--color-white);
}

.outlined {
  @mixin text-outline-white 0.2;

  font-size: 400px;
  font-weight: 700;
}
