:root {
  --font-family-base: "Saira Semi Condensed", -apple-system, blinkmacsystemfont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  --font-family-heading: "Iskry", -apple-system, blinkmacsystemfont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helveootica Neue", sans-serif;

  /* SIZES */
  --fs-display-1: 150px;
  --fs-display-2: 52px;
  --fs-display-3: 36px;
  --fs-highlight: 28px;
  --fs-body-1: 16px;
  --fs-body-2: 14px;
  --fs-body-3: 16px;
  --fs-label: 16px;
  --fs-desc: 14px;

  /* WEIGHTS */
  --fw-light: 300;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
}

/* AKA 768px */
@media (--md-p) {
  :root {
    --fs-display-1: 200px;
    --fs-display-2: 92px;
    --fs-display-3: 92px;
    --fs-highlight: 36px;
    --fs-body-1: 21px;
    --fs-label: 16px;
    --fs-desc: 16px;
  }
}

/* AKA 1280px */
@media (--lg) {
  :root {
    --fs-display-1: 400px;
    --fs-display-2: 125px;
    --fs-body-1: 24px;
    --fs-body-2: 16px;
    --fs-body-3: 21px;
  }
}