:root {
  --font-family-base: "Freight", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  --font-family-heading: "NOVU M", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helveootica Neue", sans-serif;

  /* SIZES */
  --fs-display-1: 140px;
  --fs-display-2: 100px;
  --fs-display-3: 50px;
  --fs-display-4: 20px;

  --ls-display-1: -10px;
}

/* AKA 768px */
@media (--md-p) {
  :root {
    --fs-display-1: 300px;
    --fs-display-2: 150px;
    --fs-display-3: 100px;

    --ls-display-1: -24px;
  }
}

@media (--md-l) {
  :root {
    --fs-display-1: 200px;
    --ls-display-1: -24px;
  }
}

@media (--lg) {
  :root {
    --fs-display-1: 300px;
    --ls-display-1: -24px;
  }
}
