.root {
  --right-margin: var(--frame-margin);


  max-width: var(--lg);
  margin: 0 var(--right-margin) 0 var(--text-margin-left);

  &.small {
    --small-left-margin: calc(var(--frame-margin) * 3);

    max-width: calc(var(--lg) - var(--small-left-margin));

    @media (--md-p) {
      margin: 0 var(--right-margin) 0 calc(var(--small-left-margin) * 1.5);
    }
  }

  &.body {
    max-width: var(--sm);

    @media (--md-l) {
      margin: 0 calc(var(--right-margin) * 6) 0 30%;
    }
  }

  &.right {
    max-width: var(--sm);

    @media (--md-l) {
      margin: 0 calc(var(--right-margin) * 3) 0 50%;
    }
  }

  &.wide {
    max-width: var(--lg);

    @media (--md-l) {
      margin: 0 calc(var(--right-margin) * 6) 0 30%;
    }
  }
}