.root {
  --left-margin: calc(var(--frame-margin) * 4);
  --right-margin: var(--frame-margin);

  @media (--md-l) {
    --left-margin: calc(var(--frame-margin) * 6);
  }

  max-width: var(--lg);
  margin: 0 var(--right-margin) 0 var(--left-margin);

  &.small {
    --small-left-margin: calc(var(--frame-margin) * 3);

    max-width: calc(var(--lg) - var(--small-left-margin));
    margin: 0 var(--right-margin) 0 calc(var(--left-margin) * 1.5);
  }

  &.body {
    max-width: var(--sm);

    @media (--md-l) {
      margin: 0 calc(var(--right-margin) * 6) 0 30%;
    }
  }

  &.right {
    max-width: var(--sm);

    @media (--md-l) {
      margin: 0 calc(var(--right-margin) * 6) 0 50%;
    }
  }
}