.root {
  height: 100vh;
  margin-left: var(--text-margin-right);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
}

.head {
  position: fixed;

  @media (--md-l) {
    display: flex;
  }
}

.logoContainer {
  margin-top: var(--container-margins);
  margin-left: var(--container-margins);
  margin-bottom: var(--container-margins);
}

.desc {
  @mixin desc;
  display: none;
  color: var(--color-white);
  margin-left: var(--spc-15);

  &:nth-child(1) {
    margin-top: var(--container-margins);
  }

  @media (--md-l) {
    display: block;
  }

  @media (--lg) {
    margin-left: var(--spc-17);
  }
}

.separator {
  width: 60px;
  height: 1px;
  margin-left: var(--container-margins);
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-color: var(--color-white);

  @media (--md-l) {
    width: 120px;
    margin-top: var(--spc-4);
    margin-left: var(--spc-15);
  }

  @media (--lg) {
    margin-left: var(--spc-17);
  }
}

.middle {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.scroll {
  @mixin desc;
  margin-bottom: var(--spc-3);
  display: flex;
  align-items: flex-end;
  width: 130px;

  @media (--md-l) {
    width: 170px;
  }

  .scrollText {
    margin-left: var(--spc-2);

    transition: opacity 0.5s ease-in-out;

    @media (--md-l) {
      margin-left: var(--spc-4);
    }
  }

  &.gone {
    .scrollText {
      opacity: 0;
    }
  }
}

.scrollIndicator {
  width: 1px;
  height: 100px;
  background-color: #ccc;
  display: block;

  transition: transform 0.5s ease-in-out;
  transform-origin: 50% 100%;

  &:before {
    content: "";
    width: 1px;
    height: 50%;
    top: 0;
    background-color: #333;
    display: block;

    :global {
      animation: downWipe 2s ease-in-out infinite;
    }
  }

  .scroll.gone & {
    transform: scaleY(0);
  }
}

.scramble {
  @mixin body-1;

  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 3px;

  transition: opacity 0.3s ease-in-out;

  &.gone {
    opacity: 0;
  }
}

.footer {
  position: fixed;
  top: auto;
  left: auto;
  bottom: var(--container-margins);
  right: var(--container-margins);
}

.dud {
  color: var(--color-gray-600);
}
