.root {
  position: fixed;
  z-index: calc(var(--z-burger) - 2);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(0);
  cursor: none;
  pointer-events: none;

  &::after,
  &::before {
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: var(--color-white);
    content: '';
    transition: transform 1s var(--expo-ease-out) 1s;
  }

  &::before {
    top: -50%;
  }

  &::after {
    top: 100%;
  }

  &.open,
  &.transitionOut {
    overflow: auto;

    &::after,
    &::before {
      transition: transform 1s var(--expo-ease-in) 0s;
    }

    &::after {
      transform: translate3d(0, -100%, 0);
    }

    &::before {
      transform: translate3d(0, 100%, 0);
    }
  }
}

.open,
.transitionOut {
  animation: 1s open forwards;
  pointer-events: auto;
}

.close {
  animation: 1s close forwards;
}

.backButton {
  position: fixed;
  z-index: calc(var(--z-burger) - 1);
  top: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--spc-4) 0;
  border: 0;
  margin-left: var(--frame-margin);
  background-color: transparent;
  cursor: none;
  transform: translateY(-50%);
  visibility: hidden;

  &.open,
  &.transitionOut {
    transition: visibility 0s 1s;
    visibility: visible;
  }

  @media (--md-l) {
    flex-direction: row;
  }

  figure {
    display: flex;
    overflow: hidden;
    place-items: center;
  }

  img {
    margin-bottom: var(--spc-1);

    @media (--md-l) {
      margin-right: var(--spc-2);
      margin-bottom: 0;
    }
  }

  &:hover {
    figure img {
      animation: arrow-left 1s var(--power3-ease-out);
    }
  }
}

.contentContainer {
  position: relative;
  z-index: var(--z-above);
  overflow: auto;
  height: var(--app-height);
  background-color: var(--color-white);
  -webkit-overflow-scrolling: touch;
  transition: visibility 0s 0.3s;
  visibility: hidden;

  .open &,
  .transitionOut & {
    transition: visibility 0s 1s;
    visibility: visible;
  }
}

@keyframes arrow-left {
  0% {
    transform: translate3d(0, 0, 0);
  }

  49% {
    transform: translate3d(-100%, 0, 0);
  }

  50% {
    transform: translate3d(100%, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes open {
  from {
    backdrop-filter: blur(0);
  }

  to {
    backdrop-filter: blur(50px);
  }
}

@keyframes close {
  from {
    backdrop-filter: blur(50px);
  }

  to {
    backdrop-filter: blur(0);
  }
}