.root {
  --size: 50px;
  --offset-top: 150px;

  margin-top: var(--spc-4);
  margin-left: calc(var(--frame-margin) - 4px);

  @media (--md-l) {
    margin-left: calc(var(--spc-6) - 4px);
  }

  @media (--xl) {
    --offset-top: 200px;

    margin-left: calc(var(--spc-17) - 4px);
  }

  &.notReady {
    pointer-events: none;
  }
}

.start,
.line,
.end {
  position: absolute;
  z-index: var(--z-above);
  left: 50%;
  pointer-events: none;
}

.line {
  top: 50%;
  left: 50%;
  width: 1px;
  height: calc(80vh - var(--vertical-margin));
  border: none;
  border-left: 1px dashed var(--color-gray-900);
  background-color: transparent;
  transform: translate3d(-50%, calc(var(--size) / 2), 0) scaleY(0);
  transform-origin: top;
  transition: transform 0.5s ease-out;

  @media (--md-l) {
    height: calc(100vh - var(--vertical-margin));
  }

  .open & {
    transform: translate3d(-50%, calc(var(--size) / 2), 0) scaleY(1);
  }
}

.start,
.end {
  width: var(--size);
  height: var(--size);
  border: 1px dashed var(--color-gray-900);
  border-radius: 50%;
}

.start {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) scale(0);
  transform-origin: center;
  transition: transform 0.5s ease-out 0.4s;

  .open & {
    transform: translate3d(-50%, -50%, 0) scale(1);
    transition: transform 0.1s;
  }
}

.end {
  --end-top-start: calc(50% + var(--size) / 2);
  --end-height: calc(80vh - var(--vertical-margin));
  --end-top: calc(var(--end-top-start) + var(--end-height));

  @media (--md-l) {
    --end-height: calc(100vh - var(--vertical-margin));
  }

  top: var(--end-top);
  opacity: 0;
  transform: translateX(-50%);
  will-change: opacity;

  .open & {
    opacity: 1;
    transition: opacity 0.3s ease-out 0.4s;
  }
}

.labels {
  position: relative;
  overflow: hidden;
}

@define-mixin hidden-label {
  transform: translate3d(0, -100%, 0);
  transition: transform 0.3s ease-in-out;
}

.labelMenu,
.labelDrag {
  z-index: calc(var(--z-above) + 1);
  left: 50%;
  display: block;
  transform: translate3d(-50%, 0, 0);
  transform-origin: 50% 50%;
  transition: all 0.7s var(--expo-ease-in-out);
  will-change: transform, opacity;
}

.labelDrag {
  position: absolute;
  opacity: 0;

  @media (--lg) {
    .button:hover & {
      opacity: 1;
      transform: translate3d(-50%, -100%, 0);
    }
  }

  /* transform: translate3d(-50%, 0%, 0); */
  .hidden & {
    @mixin hidden-label;
  }

  .root.open .button & {
    opacity: 0;
  }
}

.labelMenu {
  position: relative;

  .hidden & {
    @mixin hidden-label;
  }

  .notReady & {
    transform: translate3d(-150%, 0, 0);
  }

  .open & {
    opacity: 0;
  }

  @media (--lg) {
    .button:hover & {
      opacity: 0;
      transform: translate3d(-50%, -100%, 0);
    }
  }
}

.button {
  --vertical-margin: var(--offset-top) * 2;

  @mixin label;

  position: relative;
  display: block;
  width: var(--size);
  height: var(--size);
  border: none;
  background-color: transparent;
  color: var(--color-white);
  cursor: none;
  font-family: var(--font-family-base);
  user-select: none;
}

.circle {
  position: absolute;
  z-index: calc(var(--z-above) + 1);
  top: 0;
  left: 0;
  display: flex;
  width: var(--size);
  height: var(--size);
  flex-direction: column;
  color: rgb(var(--color-whiteRGB) / 0%);
  place-content: center;
  will-change: transform;

  .open & {
    color: var(--color-white);
  }

  &::after {
    position: absolute;
    z-index: var(--z-neg);
    top: 50%;
    left: 50%;
    width: var(--size);
    height: var(--size);
    background-color: var(--color-gray-700);
    border-radius: 50%;
    content: '';
    opacity: 0.4;
    transform: translate3d(-50%, -50%, 0) scale(0, 0);
    transition: all 0.3s var(--power3-ease-in) 0s;

    .open & {
      opacity: 1;
      transform: translate3d(-50%, -50%, 0) scale(1, 1);
      transition: all 0.7s var(--power3-ease-out) 0s;
    }

    @media (--lg) {
      .button:hover & {
        transform: translate3d(-50%, -50%, 0) scale(1, 1);
        transition: all 0.7s var(--power3-ease-out) 0s;
      }
    }
  }
}


/* States */