.root {
  position: relative;
  overflow: auto;
  transform: translate3d(0, 0, 0) scale(1);
  transition: all 1s var(--power3-ease-out);
  user-select: none;
  will-change: transform, opacity;

  &::-webkit-scrollbar {
    display: none;
  }
}

.menuOpen {
  opacity: 0.0;
  transform: translate3d(0, 0, 0) scale(0.8);
  transition: all 0.5s var(--power3-ease-out);
}

.front {
  display: none;
  pointer-events: none;
}

.reveal.isDesktop {
  .front {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    opacity: 1;
  }

  .base {
    position: relative;
    opacity: 0.3;
  }

  &.subtext {
    .front,
    .base {
      @media (--md-l) {
        width: calc(100% - var(--spc-6));
        padding-left: var(--spc-6);
      }
    }
  }

  .line {
    overflow: hidden;
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
    transform: translateZ(0);

    /* white-space: nowrap; */
    will-change: clip-path
  }
}

.reveal.isVisible.isDesktop {
  @for $i from 1 to 20 {
    .line {
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

      &.line-$i {
        transition: clip-path 1.7s var(--expo-ease-out) calc($i * 0.1s);
      }
    }
  }
}