.root {
  position: fixed;
  z-index: var(--z-pointer);
  top: 0;
  left: 0;
  pointer-events: none;
  transform: translateZ(0);
  will-change: transform;
}

.leftLine,
.rightLine,
.circle {
  position: absolute;
  background-color: var(--color-white);
  box-shadow:
    0 0 1px 0 var(--color-white) inset,
    0 0 1px 0 var(--color-white),
    0 2px 16px 2px var(--color-blue-500);
  transition:
    transform 0.3s var(--power3-ease-out),
    background-color 0.3s ease 1s,
    box-shadow 0.3s ease 1s;
}

.leftLine,
.rightLine {
  top: 0;
  left: -1px;
  width: 2px;
  height: 20px;
  border-radius: 2px;
  transform-origin: top center;
}

.leftLine {
  transform: rotate(-5deg);
}

.rightLine {
  transform: rotate(-55deg);
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--spc-2);
  height: var(--spc-2);
  background-color: var(--color-white);
  border-radius: 50%;
  transform: translate3d(-50%, -50%, 0) scale(0, 0);
  transition: all 0.3s var(--power3-ease-out);
}

.dark {
  .leftLine,
  .rightLine,
  .circle {
    background-color: var(--color-black);
    box-shadow:
      0 0 1px 0 var(--color-black) inset,
      0 0 1px 0 var(--color-black),
      0 2px 4px 1px var(--color-blue-500);
  }
}

.type-hidden {
  .leftLine {
    transform: rotate(-5deg) scale(1, 0);
    transition: transform 0.3s var(--power3-ease-out);
  }

  .rightLine {
    transform: rotate(-55deg) scale(1, 0);
    transition: transform 0.3s var(--power3-ease-out) 0.1s;
  }
}

.type-hover {
  .leftLine {
    transform: translate3d(-1px, 8px, 0) rotate(4deg) scale(1, 0.5);
  }

  .rightLine {
    transform: translate3d(8px, 3px, 0) rotate(-65deg) scale(1, 0.5);
  }

  .circle {
    transform: translate3d(-50%, -50%, 0) scale(0.5, 0.5);
  }
}

.type-drag {
  .leftLine {
    transform: rotate(-5deg) scale(1, 0);
  }

  .rightLine {
    transform: rotate(-55deg) scale(1, 0);
  }

  .circle {
    transform: translate3d(-50%, -50%, 0) scale(1, 1);
  }
}

.type-image {
  .leftLine {
    transform: rotate(-5deg) scale(1, 0);
  }

  .rightLine {
    transform: rotate(-55deg) scale(1, 0);
  }

  .circle {
    border-radius: 0;
    transform: translate3d(-50%, -50%, 0) scale(1, 0.7);
  }
}