.root {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(115 136 245);
  background: linear-gradient(6deg, rgb(0 0 0 / 100%) 0%, rgb(115 136 245 / 100%) 8%, rgb(63 94 251 / 100%) 14%, rgb(23 57 159 / 100%) 39%, rgb(10 46 129 / 100%) 100%);
  pointer-events: none;
  will-change: opacity;

  &.loaded {
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
  }
}

.bar {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.5s ease-out;
  will-change: transform;

  .loaded & {
    transform-origin: right center;
    transition: transform 1.5s ease-in-out;
  }
}
