.root {
  @mixin body-2;

  position: relative;
  z-index: 1;
  height: 100vh;
  padding-top: calc(15vh + var(--fs-display-1) + var(--spc-10));
  margin-top: calc(var(--app-height) / 2);
  color: var(--color-white);
}
