.root {
  margin-bottom: var(--module-margin-bottom);
  opacity: 0;
  transition: all 0.5s ease 0s;

  &.open {
    opacity: 1;
    transition: all 0.3s ease;
  }

  @media(--md-l) {
    display: flex;
    gap: var(--spc-10);
  }
}

.title {
  @mixin highlight;

  font-weight: var(--fw-semibold);

  @media(--md-l) {
    flex-basis: 50%;
  }
}

.text {
  @mixin body-1;
}