@define-mixin display-1 {
  font-size: var(--fs-display-1);
  letter-spacing: var(--ls-display-1);
}
@define-mixin display-2 {
  font-size: var(--fs-display-2);
}
@define-mixin display-3 {
  font-size: var(--fs-display-3);
}
@define-mixin display-4 {
  font-size: var(--fs-display-4);
}

@define-mixin text-outline-white {
  color: var(--color-black);
  text-shadow: 1px 1px var(--color-white), -1px -1px var(--color-white);

  @supports (-webkit-text-stroke: 1px black) {
    color: transparent;
    -webkit-text-stroke: 1px var(--color-white);
    text-shadow: none;
  }
}

@define-mixin glow-white {
  text-shadow: 0px 0px 10px var(--color-white);
}
