@define-mixin heading {
  font-family: var(--font-family-heading);
  line-height: 1;
  text-transform: uppercase;
}

@define-mixin display-1 {
  font-size: var(--fs-display-1);
  font-weight: var(--fw-semibold);
  line-height: 0.8;
}

@define-mixin display-2 {
  font-size: var(--fs-display-2);
  line-height: 1.1;
}

@define-mixin highlight {
  font-size: var(--fs-highlight);
}

@define-mixin body-1 {
  font-size: var(--fs-body-1);
  font-weight: var(--fw-medium);
}

@define-mixin body-2 {
  font-size: var(--fs-body-2);
  line-height: 1.5;

  @media (--md-p) {
    line-height: 2;
  }
}

@define-mixin body-3 {
  font-size: var(--fs-body-3);
}

@define-mixin label {
  font-size: var(--fs-label);
  font-weight: var(--fw-bold);
}

@define-mixin desc {
  font-size: var(--fs-desc);
  font-weight: var(--fw-light);
}

@define-mixin text-outline-white $alpha: 1 {
  color: var(--color-black);
  text-shadow: 1px 1px rgb(var(--color-whiteRGB) / $alpha),
    -1px -1px rgb(var(--color-whiteRGB) / $alpha);

  @supports (-webkit-text-stroke: 1px black) {
    color: transparent;
    text-shadow: none;
    -webkit-text-stroke: 1px rgb(var(--color-whiteRGB) / $alpha);
  }
}

@define-mixin text-outline-red {
  color: var(--color-black);
  text-shadow: 1px 1px var(--color-red), -1px -1px var(--color-red);

  @supports (-webkit-text-stroke: 1px black) {
    color: transparent;
    text-shadow: none;
    -webkit-text-stroke: 1px var(--color-red);
  }
}

@define-mixin text-outline-green {
  color: var(--color-black);
  text-shadow: 1px 1px var(--color-green), -1px -1px var(--color-green);

  @supports (-webkit-text-stroke: 1px black) {
    color: transparent;
    text-shadow: none;
    -webkit-text-stroke: 1px var(--color-green);
  }
}

@define-mixin text-outline-blue {
  color: var(--color-black);
  text-shadow: 1px 1px var(--color-blue), -1px -1px var(--color-blue);

  @supports (-webkit-text-stroke: 1px black) {
    color: transparent;
    text-shadow: none;
    -webkit-text-stroke: 1px var(--color-blue);
  }
}

@define-mixin glow-white {
  text-shadow: 0 0 10px var(--color-white);
}
